*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-bar {
    background-color: orange;
    height: 50px;
    text-align: right;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background:  #eaebef;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    width: 300px;
}

.nav_link{
    color: #303440;

    padding: 15px 0;
    text-decoration: none;
}

.nav_link-inside:hover{
    background-color: #f6f8fa;

}

.list {
    position: absolute;
    left: 50px;
    top: 200px;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 25px;
}

.list_item{
list-style: none;
width: 100%;
text-align: center;
}

.list_item--click{
    cursor: pointer;
}

.list_arrow{
    margin-left: clear  ;
}

.btn{
    position: absolute;
    right: 40px;
    bottom: 1px;
    font-size: 25px;
}

.btn_save{
    position: absolute;
    right: 3px;
    bottom: 1px;
    width: 35px;
}

#date{
    position: absolute;
    left: 120px;
    top: 100px;
    font-size: 25px;    
}

.date{
    position: absolute;
    left: 30px;
    top: 100px;
    font-size: 25px;
}

#comments{
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.Description{
    position: absolute;
    left: 30px;
    bottom: 150px;
    font-size: 25px;
}

.menu{
    position: absolute;
    top: 1px;
    width: 50px;
    cursor: pointer;
}

.imagen{
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 2000;
}

